body {
  text-align: center;
}

h1 {
  color: #f8f8ff;
  font-family: "Audiowide", cursive;
  font-size: 5rem;
  margin: 0px;
}
img {
  width: 40px;
  height: 40px;
}

.row {
  display: flex;
  padding: 0px;
  height: 40px;
}

.column {
  padding: 0px;
}

.unclickable {
  pointer-events: none;
}

.gameboard {
  border: 20px solid white;
  max-width: 520px;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("./Grid/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#btn-reset {
  margin: 20px;
  font-size: large;
  padding: 10px;
}

.grid {
  cursor: pointer;
}
